<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>F★ on the interwebs</li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="http://www.fstar-lang.org"><i class="fa fa-link" aria-hidden="true"></i> fstar-lang.org</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>Friends of F★ </li>
          <li>
            <a href="https://github.com/FStarLang/kremlin/"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ include.username }}</span> kreMLin</a>
          </li>
          <li>
            <a href="https://github.com/mitls/mitls-fstar/"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ include.username }}</span> mitls</a>
          </li>
          <li>
            <a href="https://project-everest.github.io"><i class="fa fa-link" aria-hidden="true"></i> Project Everest</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
